---
layout: archive
title: "Publications and Preprints"
permalink: /publications/
author_profile: true
---

<style>
.publications-compact {
  margin-top: 1.5rem;
}

.publications-compact h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #1f4e79;
}

.publication-list {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-left: 1.4rem;
  list-style-type: square;
}

.publication-list li {
  margin-bottom: 0.8rem;
  padding-left: 0.25rem;
  font-size: 0.95rem;
  line-height: 1.55;
}

.publication-year {
  white-space: nowrap;
}

.publication-title a {
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.publication-title a:hover {
  color: #087f5b;
}

.publication-venue {
  font-style: italic;
}

.publication-volume {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .publication-list li {
    font-size: 0.9rem;
  }
}
</style>

{% assign publications_sorted = site.publications | sort: "date" | reverse %}

<div class="publications-compact">

  <h2>Preprints</h2>

  <ul class="publication-list">
    {% for post in publications_sorted %}
      {% if post.category == "preprints" or post.category == "preprint" %}
        <li>

          <span class="publication-year">
            ({{ post.date | date: "%Y" }})
          </span>

          {% if post.paperurl %}
            {% capture title_link %}{{ post.paperurl }}{% endcapture %}
            <span class="publication-title">
              {{ title_link | markdownify | remove: "<p>" | remove: "</p>" }}
            </span>
          {% else %}
            <span class="publication-title">
              {{ post.title }}
            </span>
          {% endif %}

          {% if post.authors %}
            , {{ post.authors }}
          {% endif %}

          {% if post.note %}
            . {{ post.note }}
          {% endif %}.

        </li>
      {% endif %}
    {% endfor %}
  </ul>


  <h2>Published and accepted articles</h2>

  <ul class="publication-list">
    {% for post in publications_sorted %}
      {% unless post.category == "preprints" or post.category == "preprint" %}
        <li>

          <span class="publication-year">
            ({{ post.date | date: "%Y" }})
          </span>

          {% if post.paperurl %}
            {% capture title_link %}{{ post.paperurl }}{% endcapture %}
            <span class="publication-title">
              {{ title_link | markdownify | remove: "<p>" | remove: "</p>" }}
            </span>
          {% else %}
            <span class="publication-title">
              {{ post.title }}
            </span>
          {% endif %}

          {% if post.authors %}
            , {{ post.authors }}
          {% endif %}

          {% if post.venue %}
            . <span class="publication-venue">{{ post.venue }}</span>
          {% endif %}

          {% if post.volume %}
            , <span class="publication-volume">{{ post.volume }}</span>
          {% endif %}

          {% if post.issue %}
            ({{ post.issue }})
          {% endif %}

          {% if post.pages %}
            : {{ post.pages }}
          {% endif %}

          {% if post.note %}
            . {{ post.note }}
          {% endif %}.

        </li>
      {% endunless %}
    {% endfor %}
  </ul>

</div>
``
